In [2]:
import pandas as pd
import numpy as np

In [9]:
df_2020jan = pd.read_csv('./inputdata/2020-Jan.csv')
df_2020jan = pd.read_csv('./inputdata/2020-Jan.csv')

In [13]:
df.query('event_type == "purchase"').groupby('user_id').agg({
    'event_time': 'nunique',
    'price': 'sum',
}).query('event_time >= 2')

           event_time  price
user_id
46032705            2  49.93
63701865            2  97.11
75649789            2  45.45
83998413            2  92.35
91136858            3  93.22
...               ...    ...
608560820           2  31.89
608709524           2  76.36
608722043           2   7.94
608725139           3  14.48
608743401           2  24.77

[3576 rows x 2 columns]